/* Nuestros clientes */
/****Inicio Mobil****/
.clientes__imagenes--wrap {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.nuestros-clientes-contenedor1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center ;
  height: 70vh;
  gap: 20px;
}

@media screen and (min-width: 992px) {
  .nuestros-clientes-contenedor1 {
    flex-direction: row;
    margin-bottom: -20px;
    margin-top: 20px;
    height: auto;
    gap: 20px;
  }
}
