/****Inicio Mobile****/

/* Sobre nosotros */

.sobre-nosotros--grid2 {
  display: grid;
  grid-template-areas:
    "sobreNosotros"
    "imagen1"
    "sobre-nosotros-contenedor2"
    "border"
    "contenedor3";
  gap: 20px;
}

/****Fin Mobile****/

/****Inicio Desktop****/

@media screen and (min-width: 992px) {
  .sobre-nosotros--grid2 {
    grid-template-areas:
      "sobreNosotros imagen1"
      "border border"
      "sobre-nosotros-contenedor2 contenedor3";
    grid-template-columns: 50% 50%;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/

.sobre-nosotros-contenedor2 {
  grid-area: sobre-nosotros-contenedor2;

  position: relative;

  margin-top: 50px;
  margin-bottom: 20px;
}

/****Fin Mobil****/

/****Inicio Desktop****/
@media screen and (min-width: 992px) {
  .sobre-nosotros-contenedor2 {
    grid-area: sobre-nosotros-contenedor2;
  }

  .margin {
    margin-top: 26.25px;
  }
}
/****Fin Desktop****/

/****Inicio Mobil****/
.contenedor3 {
  grid-area: contenedor3;
  margin-left: 10px;
}

.imagen1 {
  grid-area: imagen1;
  // margin: 75px 25px 0 0;
}
/****Fin Desktop****/
