@import "header-fotter";
@import "index";
@import "nuestros-clientes";
@import "servicios";
@import "sobre-nosotros";
@import "trabaja-con-nosotros";
@import "trabajos-realizados";
@import "contacto";
@import "variables";

/* Global */
* {
  box-sizing: border-box;
  zoom: 100%;
}

img {
  max-width: 100%;
}

/****Inicio Mobile****/

$estilo-body: (
  color: #000000,
  grosor: bold,
  tamanio: 20px,
);

body {
  background-color: $color-body;
  color: map-get($estilo-body, color);
  font-family: "Work Sans", sans-serif;
  font-weight: map-get($estilo-body, grosor);
  font-size: map-get($estilo-body, tamanio);
  overflow-x: hidden;
}

main {
  grid-area: main;
}

.tituliLista {
  font-family: "Lato", sans-serif;
}

.positionSticky {
  position: sticky;
  top: 208px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 20px;

  background-color: $color-body;
  z-index: 50;
}
$iconos: (
  contacto__mail: url(../Imagenes/mail-filled.svg),
  publico: url(../Imagenes/government-fill.svg),
  privado: url(../Imagenes/crane.svg),
  estudios: url(../Imagenes/gear.svg),
  construccion: url(../Imagenes/construction-worker-negative.svg),
  auditoria: url(../Imagenes/i-documents-accepted.svg),
);

@each $icono, $imagen in $iconos {
  .#{$icono} li {
    list-style-image: $imagen;
    font-family: "Raleway", sans-serif;
  }
}

/****Fin Mobile****/

/****Inicio Desktop****/

@media screen and (min-width: 992px) {
  .positionSticky {
    top: 140px;
  }
}

/****Fin Desktop****/
